*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
 padding: 1%; 
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
